[user]
	email = PurpleMyst@users.noreply.github.com
	name = Purple Myst
[credential]
	helper = store
[push]
	default = simple
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[pull]
	rebase = true
