#define FONTSIZE 11
#define MAINFONT UbuntuMono Nerd Font Mono
#define BROWSER firefox

! TODO: Replace a lot of stuff with #define.

#include ".Xresources.d/general"
#include ".Xresources.d/colorscheme"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
