#define FONTSIZE 11
#define MAINFONT FiraCode
#define BROWSER firefox

#include ".Xresources.d/general"
#include ".Xresources.d/colorscheme"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
